#threadsNumber{
    -fx-font-weight: bold;
    -fx-text-fill: #F79D9D;
}

#clearButton {
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-background: null;
}

.table-row-cell:empty {
    -fx-background-color: null;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}